<%= content_for :search_url do %>
  mapsearch
<% end %>
<% content_for :first_farm_latitude do %>
  34.666536
<% end %>
<%= content_for :first_farm_longitude do %>
  133.9180779
<% end %>

<div class="homeimage">
  <div class="titlecontainer">
  <h1 class="title">
    AGRICONNECT
  </h1>
  <p>
    野菜直売所や売っている場所の投稿サイトです。<br>
    見つけた場所や宣伝したい場所を投稿し、<br>
    行きたい時にもすぐに探し出せます。<br>
    <% if current_user == nil%>
      <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
      <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
    <% end %>
    <%= link_to '野菜販売所一覧', farms_path, class: "nav-link" %>
  </p>
  </div>
  <%= image_tag "/home_farm.jpeg" %>
</div>
<div class="container home">
  <%= render "farms/shared/search_form.html.erb" %>
  <%= render "farms/shared/farm_map.html.erb" %>
</div>
