<div class="col-md-8 col-md-2 mx-auto">
  <%= link_to(farm_path(@farm)) do %>
    <%= image_tag @farm.image.url if @farm.image.present? %>
  <% end %>
  <div>
    <%= link_to user_path(@farm.user), class: "no-text-decoration" do %>
      <% if @farm.user.icon.present? %>
        <%= image_tag image_url(@farm.user.icon), class: "post-profile-icon" %>
      <% else %>
        <%= image_tag "野菜", class: "post-profile-icon" %>
      <% end %>
    <% end %>
  </div>




       <% if current_user.already_liked?(@farm) %>
          <%= link_to farm_likes_path(@farm), method: :delete do %>
            <i class="far fa-heart"></i>
            お気に入りを外す
          <% end %>
        <% else %>
          <%= link_to farm_likes_path(@farm), method: :post do %>
            <i class="far fa-heart"></i>
            お気に入りに追加
          <% end %>
        <% end %>

        <%= @farm.likes.count %>

        <% if @farm.user == current_user %>
          <%= link_to '編集', edit_farm_path(@farm), method: :get, class: "btn btn-success" %>
          <%= link_to '削除', farm_path(@farm), method: :delete, class: "btn btn-danger" %>
        <% end %>

        <div>
          <% @farm.vege_tags.each do |tag| %>
            <span>
              <%= tag.name %>
            </span>
        <% end %>
        </div>





    <div>
      <hr>
      <div class="row parts">
          <div>
            <%= form_with(model: [@farm, @comment], method: :post) do |f| %>
              <%= f.text_area :content, class: "form-control comment-input border-0", placeholder: "コメント...", rows: "1" %>
              <% f.hidden_field :farm_id, value: @farm.id %>
            <%= f.submit 'コメントする' %>
            <% end %>
          </div>
      </div>
    </div>

    <div>
      <% @comments.each do |comment| %>
        <div>
          <%= comment.content %>
          <% if comment.user_id == current_user.id %>
            <%= link_to "編集", edit_farm_comment_path(@farm, comment), method: :get %>
            <%= link_to "削除", farm_comment_path(@farm, comment), method: :delete %>
          <% elsif @farm.user_id == current_user.id %>
            <%= link_to "削除", farm_comment_path(@farm, comment), method: :delete %>
          <% end %>
        </div>
      <% end %>
    </div>



</div>
