<div class="text-center">
  <div class="form">
    <%= form_with model: @user, local: true do |f| %>
    <%= render "users/shared/error_messages" %>

    <div class= "field mt-5">
      <% f.label :name, class: "label" %>
      <%= f.text_field :name, autofocus: true, placeholder: "名前", class: "input w-50 p-3 mb-5" %>
    </div>

    <div class="field">
      <% f.label :email, class: "label" %>
      <%= f.text_field :address, autofocus: true, placeholder: "メールアドレス", class: "input w-50 p-3 mb-5" %>
    </div>

    <div class="field">
      <% f.label :password, class: "label" %>
      <%= f.password_field :password, autofocus: true, placeholder: "パスワード", class: "input w-50 p-3 mb-5" %>
    </div>

    <div class="field">
      <% f.label :password_confirmation, class: "label" %>
      <%= f.password_field :password_confirmation, autofocus: true, placeholder: "パスワード（確認）", class: "input w-50 p-3 mb-5" %>
    </div>

    <div class="field">
      <%= f.label :image, "写真の選択", class: "label" %>
      <%= f.file_field :image, class: "input w-50 m-auto pb-5" %>
    </div>

    <div class="actions">
      <%= f.submit yield(:button_text), class: "btn btn-primary w-50 p-3" %>
    </div>
    <% end %>
  </div>
</div>
