<div class="comment-container">
  <% farm.comments.reverse.each do |comment| %>
  <hr>
    <div class="comment-row d-flex">
      <div class="user-icon">
        <%= link_to user_path(comment.user) do %>
          <% if comment.user.icon.present? %>
            <%= image_tag comment.user.icon.url %>
          <% else %>
            <%= image_tag "/icon.jpeg" %>
          <% end %>
        <% end %>
      </div>
      <div class="comment w-100 d-flex justify-content-between">
        <div>
          <%= comment.content %>
        </div>
        <div>
          <% if current_user.present? %>
            <% if comment.user_id == current_user.id %>
              <%= link_to "編集", edit_farm_comment_path(farm, comment), method: :get %>
              <%= link_to "削除", farm_comment_path(farm, comment), method: :delete, remote: true %>
            <% elsif farm.user_id == current_user.id %>
              <%= link_to "削除", farm_comment_path(farm, comment), method: :delete, remote: true %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <hr>
</div>
